{{define "questions-edit.html"}}
<h1>Редактирование вопроса</h1>
{{if .Error}}<p style="color:red">{{.Error}}</p>{{end}}
<form action="/games/{{.GameID}}/levels/{{.LevelID}}/questions/{{.Question.ID}}" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="hidden" name="_csrf" value="{{.csrf}}">
    <div>
        <label>Текст вопроса:</label>
        <input type="text" name="text" value="{{.Question.Text}}" required>
    </div>
    <div>
        <label>Подсказка:</label>
        <input type="text" name="hint" value="{{.Question.Hint}}">
    </div>
    <button type="submit" class="button">Сохранить</button>
</form>
<a href="/games/{{.GameID}}/levels/{{.LevelID}}/questions">Назад к вопросам</a>
{{end}}